.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
}

.title::before {
    content: none !important;
}

.title > :last-child {
    font-weight: 300;
    font-size: 80%;
}

.separator {
    margin-inline: 25px;
    border: 0;
    border-bottom: 2px solid var(--primary);
    margin-bottom: 2.5rem;
}
